body {
    color: white; /*Cor geral dos objetos*/
    margin: 5px; /*Espaço externo*/
    background-color: black; /*Define a cor de fundo*/
    font-family: "Chakra Petch", sans-serif; /*Definição de fonte*/
    margin-bottom: 1000px; /*Espaço externo inferior*/
}
