* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: center;
    background-color: rgb(4, 169, 235);
    padding-bottom: 50px;
    margin: 20px;
    box-shadow: 0 4px 10px black;
}

a:hover {
    color: brown;
    font-size: 35px;
}

.link {
    display: block;
    margin-left: 20px;
    padding-left: 60px;
    padding-top: 30px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}

header img {
    position: absolute;
    left: 40px;
    width: 110px;
}

h1 {
    padding-left: 20px;
    margin: 10px 2px 50px 10px ;
}

h3 {
    margin: 20px 20px;
    text-align: justify;
    
}

.texto {
    border: 2px solid #00000063;
    box-shadow: 0 4px 10px #0000001a;
}

.info {
    border: 2px dotted #00000063;
    text-align: center;
    margin: 50px 250px;
    justify-content: center;
    display: flex;
}

div img {
    border-radius: 10px;
    box-shadow: 0 4px 10px black;
}

.imagem{
    justify-content: center;
    display: flex;
}

footer {
    background-image: url(https://img.cdndsgni.com/preview/10000206.jpg) ;
    background-size: 250px;
    padding-bottom: 50px;
    color: azure;
    font-weight: bold;
    font-size: 18px;
    height: 25px;
    display: flex;
    padding-left: 10px;
    padding-top: 15px;
    margin-top: 50px;
    text-shadow: 0 4px 10px black;
}

.video {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}