body {
    color: white; /*Cor geral dos objetos*/
    margin: 10px; /*Espaço externo*/
    background-color: black; /*Define a cor de fundo*/
    font-family: "Chakra Petch", sans-serif; /*Definição de fonte*/
    margin-bottom: 1000px; /*Espaço externo inferior*/
}

.chamada {
    background-color: rgb(184, 150, 213); /*Cor de fundo*/
    padding: 80px 0; /*Espaçamento interno dos lados*/
    display: flex; /*Modo como se comporta*/
    justify-content: center; /*Centraliza o conteudo*/
}

.chamada-texto {
    margin-right: 5%; /*Espaço externo pra direita*/
}

h1 {
    font-size: 40px; /**/
}

p {
    font-size: 20px;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding: 0px 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 190px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}